/*!
* css
* Copyright 2019 
* by adie prayoega [FRONTEND DEVELOPER] (https://www.instagram.com/prayoego.adie/)
*/

/* =General
-------------------------------------------------------------*/
body{
	/*background-color: #446954;*/
	background-color: #f3f3f3;
}
.font-roboto{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
}
.font-concertone{
	font-family: 'Concert One', cursive;
}
.font-lato {
  font-family: 'Lato', sans-serif !important;
}

.font-montserrat{
  font-family: 'Montserrat', sans-serif !important;
}
/* =Header
-------------------------------------------------------------*/
.bg-varian1{
	/* background-color: #282b2941; */
	background-color: #11B6A2;
}
.bg-transparetnt{
	background-color: transparent;
	/* background-color: rgba(17, 182, 163, 0.692); */
}
.hidden-desktop{
	display: none;
}
.hidden-mobile{
	display: block !important;
}
.section-navbar{
	/* margin-bottom: 56px; */
	/* box-shadow: 0px 5px 17px #000; */
	z-index: 1;
}
.section-navbar .desktop-menu ul{
	list-style: none;
	padding: 0;
	display: flex;
}
.section-navbar .desktop-menu ul li a{
	color: #fff;
	font-weight: 600;
}
.section-navbar .mobile-menu ul li a{
	color: #fff;
	font-weight: 600;
}
.section-navbar .desktop-menu .brand-menu{
	margin: 0;
}
.section-navbar .desktop-menu .brand-menu li{
	align-self: center;
}
.section-navbar .desktop-menu .main-menu{
	margin: 0;
	margin-left: auto;
}
.section-navbar .desktop-menu .main-menu li{
	align-self: center;
}

/* =Jumbotron
-------------------------------------------------------------*/
.section-jumbotron{
	/* box-shadow: 0px 1px 5px #000; */
	color: #fff;
}

.section-jumbotron .jumbotron{
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 680px;
	z-index: 0;
	/* border-radius: 0; */
}
.section-jumbotron .jumbotron .overlay {
		position: absolute;
		height: 680px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.533);
    z-index: 1;
}
.section-jumbotron .jumbotron .jumbotron-body{
	position: relative;
	display: flex;
	height: 100%;
	z-index: 2;
}
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content{
	overflow-x: auto;
	margin: auto;
	width: 600px;
}
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content .logo-content{
	padding: 15px 0 15px 0;
	text-align: center;
}
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content .header-content h1,
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content .body-content p,
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content .footer-content{
	text-align: center;
}
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content .header-content h1{
	font-size: 3rem;
}
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content .body-content{
	width: 450px;
	margin: auto;
}
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content .body-content p{
	font-size: 1rem;
	font-weight: 500;
}
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content .footer-content a{
	font-weight: 300;
}

/* =about
-------------------------------------------------------------*/
.section-about{
	background-color: #fff;
	color: #fff;
	margin-top: 5rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	min-height: 400px;
}
/* .section-about .about-body{} */
.section-about .about-content{
	overflow-x: auto;
}
/* .section-about .about-content .header-content{} */
.section-about .about-content .header-content h6{
	color: #77a982;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}
/* .section-about .about-content .body-content{} */
.section-about .about-content .body-content .first-body-content .content-text-about{
	align-self: center;
	text-align: right;
}
.section-about .about-content .body-content .first-body-content img{
	width: 200px;
}
.section-about .about-content .body-content .first-body-content p{
	font-weight: 300;
	/*font-size: 0.95rem;*/
	font-size: 16px;
	color: #757575;
}
.section-about .about-content .body-content .second-body-content{
	height: 100%;
	display: flex;
}
.section-about .about-content .body-content .second-body-content .content-text-about{
	align-self: center;
	text-align: left;
}
.section-about .about-content .body-content .second-body-content .content-text-about p{
	font-weight: 300;
	/*font-size: 0.95rem;*/
	font-size: 16px;
	color: #757575;
}
/* .section-about .about-content .footer-content{} */

/* =Table
-------------------------------------------------------------*/
.section-table{
	margin-bottom: 1rem;
}
.section-table .box-table{
	background-color: #ffffff;
	border-radius: 3px;
	border-top: 3px solid #77a982;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	width: 96%;
	margin: auto;
}
.section-table .box-table .header-box{
	padding: 10px;
	font-size: 1rem;
	color: #444;
} 
.section-table .box-table .header-box p{	
	margin-bottom: 0;
	font-weight: 600;
	font-size: 14px;
} 
.section-table .box-table .body-box{
	padding: 10px;
	color: #000;
} 
.section-table .box-table .body-box .input-group{
	margin-bottom: 10px;
}
.section-table .box-table .body-box .input-group .custom-select{
	font-weight: 300;
	color: #000;
	cursor: pointer;
}
.section-table .box-table .body-box .show-select-data{
	margin-bottom: 10px;
}
.section-table .box-table .body-box .show-select-data p{
	font-weight: 300;
	font-size: 14px;
	margin: 0;
}
.section-table .box-table .body-box .tablebox-body{
	overflow-x: auto;
	table-layout:fixed;
	width: 100%;
}
.section-table .box-table .body-box .tablebox-body table{
	width: 100%;
	margin-left: 25px !important;
}
.section-table .box-table .body-box .tablebox-body thead{
	overflow-x: auto;
	table-layout:fixed;
	width: 100%;
}
.section-table .box-table .body-box th{
	font-size: 13px;
	font-weight: 600;
	max-width: 53px;
	vertical-align: middle;
} 

.section-table .box-table .body-box td{
	font-size: 14px;
	font-weight: 300;
} 
.section-table .box-table .footer-box{
	padding: 10px;
	color: #000;
	font-weight: 300px;
	font-size: 14px;
}
.section-table .box-table .footer-box p{
	text-align: right;
} 

/* =Footer
-------------------------------------------------------------*/
.section-footer{
	background-color: #2a363a;
	color: #fff;
}
/* .section-footer .box-footer{} */
/* .section-footer .box-footer .content-footer{} */
.section-footer .box-footer .content-footer .body-content{
	padding: 25px 0 0 0;
}
.section-footer .box-footer .content-footer .body-content h6{
	font-size: 14px;
	font-weight: 600;
}
.section-footer .box-footer .content-footer .body-content p{
	font-size: 14px;
	font-weight: 300;
}
.section-footer .box-footer .content-footer .body-content ul{
	list-style: none;
	padding: 0;
	display: flex;
}
.section-footer .box-footer .content-footer .body-content ul li{
	padding-right: 5px;
	font-weight: 300;
}
.section-footer .box-footer .content-footer .body-content ul li a i,
.section-footer .box-footer .content-footer .body-content a{
	color: #fff;
}
.section-footer .box-footer .content-footer .body-content ul li a i:hover,
.section-footer .box-footer .content-footer .body-content a:hover{
	color: #446954;
}
.section-footer .box-footer .content-footer .body-content img{
	width: 75px;
	text-align: center;
	padding: 5px;
	margin-bottom: 0.5rem;
}
.section-footer .box-footer .content-footer .footer-content{
	color: #fff;
	font-weight: 300;
	text-align: left;
	padding: 0 0 25px 0;
	font-size: 14px;
	text-align: left;
}
.section-footer .box-footer .content-footer .footer-content p{
	margin: 0;
	text-align: center;
}