/*!
* responsive.css
* Copyright 2019 
* by adie prayoega [FRONTEND DEVELOPER] (https://www.instagram.com/prayoego.adie/)
*/

/* =CSS Reset : reset default browser style
-------------------------------------------------------------*/

/* =Global CSS
-------------------------------------------------------------*/

/* =Header
-------------------------------------------------------------*/


/* RESPONSIVE CSS
-------------------------------------------------------------*/

/* Larger Devices, Wider Screens */
@media only screen and (min-width:1280px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width:1280px) {
	
}

@media only screen and (max-width:1024px) {
	
}

@media only screen and (max-width : 992px){

}

@media only screen and (max-width : 991px){

/* =Header
-------------------------------------------------------------*/
.hidden-desktop{
	display: block !important;
}
.hidden-mobile{
	display: none;
}
.section-navbar .mobile-menu{
	display: flex !important;
}
.section-navbar .mobile-menu ul{
	list-style: none;
	padding: 0;
}
.section-navbar .mobile-menu .left-menu{
	margin: 0
}
.section-navbar .mobile-menu .left-menu li{
	align-self: center;
}
.section-navbar .mobile-menu .right-menu{
	margin: 0;
}
.section-navbar .mobile-menu .right-menu li{
	align-self: center;
}

/* =Jumbotron
-------------------------------------------------------------*/
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content{
	margin: auto 0 auto 0;
}
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content .header-content h1,
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content .body-content p,
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content .footer-content{
	text-align: left;
}
.section-jumbotron .jumbotron .jumbotron-body .jumbotron-content .body-content{
	width: 100%;
}
/* =About
-------------------------------------------------------------*/
.section-about .about-content .body-content .second-body-content .content-text-about{
	text-align: center;
}
/* =Table
-------------------------------------------------------------*/
.section-table .box-table .body-box .input-group{
	margin-bottom: 6px;
}
.section-table .box-table .body-box .show-select-data p{
	text-align: right;
}

}


/* Small Devices, Desktops */
@media only screen and (max-width:812px){

}

@media only screen and (max-width:768px){

}


/* Extra Small Devices, Phones */
@media only screen and (max-width:767px){
/* =table
-------------------------------------------------------------*/
	.section-table .box-table{
		width: 99%
	}

}

@media only screen and (max-width:640px){

}

@media only screen and (max-width:574px){
/* =Jumbotron
-------------------------------------------------------------*/


}

@media only screen and (max-width:480px){
.section-jumbotron .jumbotron{
	min-height: 610px;
	height: auto;
}

}

@media only screen and (max-width:320px){

}	